<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthUserServlet</servlet-name>
        <servlet-class>atm.servlets.AuthUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ATMOperationsServlet</servlet-name>
        <servlet-class>atm.servlets.ATMOperationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawServlet</servlet-name>
        <servlet-class>atm.servlets.WithdrawServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositServlet</servlet-name>
        <servlet-class>atm.servlets.DepositServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferServlet</servlet-name>
        <servlet-class>atm.servlets.TransferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecipientTransferServlet</servlet-name>
        <servlet-class>atm.servlets.RecipientTransferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>atm.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthUserServlet</servlet-name>
        <url-pattern>/AuthUserServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ATMOperationsServlet</servlet-name>
        <url-pattern>/ATMOperationsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawServlet</servlet-name>
        <url-pattern>/WithdrawServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositServlet</servlet-name>
        <url-pattern>/DepositServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferServlet</servlet-name>
        <url-pattern>/TransferServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecipientTransferServlet</servlet-name>
        <url-pattern>/RecipientTransferServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
